$brand-color: #3b9845;

@import './meteoric_ionic-sass/_ionic.scss';

@import '../imports/ui/auth/auth-startup.scss';
@import '../imports/ui/auth/auth-login.scss';
@import '../imports/ui/auth/auth-more.scss';
@import '../imports/ui/auth/auth-join.scss';
@import '../imports/ui/auth/auth-create.scss';
@import '../imports/ui/layouts/app-body.scss';
@import '../imports/ui/pages/events-map.scss';
@import '../imports/ui/pages/events-details.scss';
@import '../imports/ui/pages/users-links.scss';
@import '../imports/ui/pages/users-profile.scss';
@import '../imports/ui/pages/users-settings.scss';
@import '../imports/ui/pages/events-add.scss';
@import '../imports/ui/pages/messages-chat.scss';
@import '../imports/ui/pages/messages-send.scss';

body {
  margin: 0px;
}
#__blaze-root {
  height: 100vh;
}
