$brand-color: #3b9845;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';
@import 'imports/ui/auth/auth-startup.scss';
@import 'imports/ui/auth/auth-login.scss';
@import 'imports/ui/auth/auth-more.scss';
@import 'imports/ui/auth/auth-join.scss';
@import 'imports/ui/auth/auth-create.scss';
@import 'imports/ui/layouts/app-body.scss';
@import 'imports/ui/pages/events-map.scss';
@import 'imports/ui/pages/events-details.scss';
@import 'imports/ui/pages/users-links.scss';
@import 'imports/ui/pages/users-profile.scss';

body {
  margin: 0px;
}
#__blaze-root {
  height: 100vh;
}
