#events-details {
  background-color: #f5f5f5;
  height: 100%;
  .bar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: static;
    border-bottom: none;
    box-shadow: none;
    background: none;
    background-color: white;
    .title {
      color: $brand-color;
    }
    a {
      text-decoration: none;
      font-size: 27px;
      color: $brand-color;
      position: relative;
      z-index: 1;
      text-align: left;
      width: 30px;
    }
  }
  .list-card {
    .item-body {
      height: calc(100vh - 88px);
      margin-bottom: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      border-bottom: none;
      padding: 16px 0px;
      h2 {
        margin: 0px;
        color: #666;
        margin-bottom: 10px;
        font-size: 17px;
      }
      h3 {
        margin: 0px;
        color: #666;
        margin-bottom: 10px;
      }
      h4 {
        margin: 0px;
        color: #666;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          border-radius: 50%;
          margin: 0px 5px;
          width: 25px;
          height: 25px;
          object-fit: cover;
        }
      }
      > p {
        padding: 0px 20px;
        text-align: center;
      }
      .full-image {
        width: 100%;
        height: 30vh;
        object-fit: cover;
      }
      .details-stats {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          h2 {
            color: $brand-color;
            margin-top: 0px;
            margin-bottom: 5px;
          }
          p {
            margin: 0px;
            color: $brand-color;
            font-size: 11px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .bar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    a {
      text-decoration: none;
      color: $brand-color;
    }
    .button {
      background-color: $brand-color;
      border-radius: 5px;
      line-height: 20px;
      padding: 0px 20px;
    }
  }
}
#comments {
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  left: 0px;
  width: 100%;
  z-index: 5;
  height: 100%;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  &.show-form {
    top: 0px;
  }
  #comments-content {
    border-radius: 5px;
    height: calc(84% - 44px);
    width: 84%;
    background-color: white;
    margin-top: 100%;
    position: relative;
    overflow: hidden;
    &.show-form {
      margin-top: 0px;
    }
    .js-close-comments {
      position: absolute;
      background-color: white;
      top: 0px;
      right: 2px;
      text-align: center;
      border-radius: 0px 0px 0px 10px;
      padding: 2px 5px;
      z-index: 20;
      font-size: 30px;
    }
    > h2 {
      border-bottom: thin solid #ddd;
    }
    h3 {
      color: #444;
      text-align: center;
      font-size: 16px;
    }
    .list {
      border: none;
      margin-bottom: 44px;
      overflow: auto;
      height: calc(100% - 86px);
      .comment-card {
        padding: 2px 2px 2px 45px;
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: none;
        margin: 0px;
        margin-top: 2px;
        border-radius: 0px;
        min-height: 0px;
        position: relative;
        img {
          width: 42px !important;
          height: 42px !important;
          top: 5px !important;
          left: 5px !important;
          border-radius: 0px !important;
          object-fit: cover;
          max-width: none !important;
          max-height: none !important;
        }
        h2 {
          font-size: 15px;
          color: #828282;
          text-overflow: clip;
          white-space: normal;
          padding: 0px;
          padding-left: 10px;
          padding-top: 5px;
        }
        .comment-time {
          color: #bababa;
          margin-left: 7px;
          font-size: 12px;
          position: relative;
          bottom: 1px;
        }
        .likes-count {
          position: absolute;
          right: 28px;
          top: 4px;
          font-size: 15px;
          color: #969696;
        }
        i {
          position: absolute;
          top: 2px;
          right: 0px;
          padding: 0px 7px 5px 5px;
          font-size: 20px;
          &.ion-ios-heart {
            color: red;
          }
        }
        p {
          padding: 5px 10px 5px 10px;
        }
      }
    }
    #add-comment {
      display: none;
      position: absolute;
      bottom: 44px;
      left: 0px;
      width: 100%;
      border-left: none;
      border-right: none;
      &.show-add {
        display: block;
      }
      .message {
        position: relative;
        margin: 0px;
        #comment-message {
          height: 80px;
          resize: none;
          &::-webkit-input-placeholder {
            padding-left: 4px;
          }
        }
        .char-count {
          position: absolute;
          right: 5px;
          bottom: 0px;
          font-size: 14px;
          color: lighten(#444, 20%);
        }
      }
    }
  }
  h2 {
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    color: $brand-color;
  }
  .bar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    border-top: thin solid #eaeaea;
    a {
      text-decoration: none;
      color: $brand-color;
    }
    .js-add-comment {
      background-color: $brand-color;
      color: white;
      border-radius: 5px;
      line-height: 20px;
      border-color: transparent;
    }
    .js-cancel-comment {
      color: $brand-color;
      line-height: 20px;
      border-color: transparent;
      background: none;
    }
    .post {
      background-color: transparent;
      color: $brand-color;
      border-radius: 5px;
      line-height: 20px;
      border-color: transparent;
      &.ready {
        background-color: $brand-color;
        color: white;
        &:active {
          background-color: darken($brand-color, 20%);
        }
      }
    }
  }
}
