#messages-convo {
  height: 100%;
  position: relative;
  z-index: 6;
  background-color: white;
  .bar-header {
    background-color: #f7f7f7;
    a {
      text-decoration: none;
      font-size: 18px;
      color: $brand-color;
      position: relative;
      z-index: 1;
      top: -5px;
      i {
        font-size: 30px;
        position: relative;
        top: 5px;
        padding-right: 1px;
      }
    }
  }
  .messages {
    overflow-y: auto;
    padding-top: 49px;
    height: calc(100% - 178px);
    .message-text {
      text-align: left;
      &.owned {
        text-align: right;
      }
      p {
        font-size: 16px;
        margin: 0px;
        background-color: #e6e5eb;
        padding: 5px 8px;
        border-radius: 10px;
        max-width: 85%;
        margin-left: 10px;
        margin-bottom: 5px;
        display: inline-block;
        &.owned {
          background-color: $brand-color;
          color: white;
          margin-right: 10px;
          margin-left: 0px;
        }
      }
    }
  }
  #send-message {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    textarea {
      resize: none;
      height: 100%;
      width: 100%;
      border-top: thin solid #dcdcdc;
      padding: 10px;
      padding-right: 55px;
      box-shadow: none;
      -webkit-appearance: none;
      &::-webkit-input-placeholder {
        padding-left: 4px;
      }
    }
    #submit-send-message {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      margin: 0px;
      background: none;
      border: none;
      min-height: 0px;
      min-width: 0px;
      line-height: normal;
      color: #ababab;
      font-size: 15px;
      &.ready {
        color: $brand-color;
      }
    }
  }
}
