#messages-send {
  height: 100%;
  position: relative;
  z-index: 6;
  background-color: white;
  .bar-header {
    background-color: #f7f7f7;
    a {
      text-decoration: none;
      font-size: 16px;
      color: $brand-color;
      position: relative;
      z-index: 1;
    }
  }
  #choose-contact {
    padding-top: 44px;
    position: relative;
    .item-input {
      background-color: #f7f7f7;
      .input-label {
        width: auto;
        span {
          color: $brand-color;
          margin-left: 3px;
        }
      }
    }
    .js-all-contacts {
      position: absolute;
      top: 54px;
      right: 6px;
      font-size: 27px;
      color: $brand-color;
      z-index: 2;
    }
  }
  .contact-list {
    .contact-card {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top: 7px;
      }
      h2 {
        font-size: 16px;
        color: $brand-color;
        border-bottom: thin solid #dcdcdc;
        padding: 10px;
        padding-left: 33px;
        width: 95%;
        margin: 0px;
      }
    }
  }
  #send-message {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    textarea {
      resize: none;
      height: 100%;
      width: 100%;
      border-top: thin solid #dcdcdc;
      padding: 10px;
      padding-right: 55px;
      box-shadow: none;
      -webkit-appearance: none;
      &::-webkit-input-placeholder {
        padding-left: 4px;
      }
    }
    #submit-send-message {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px;
      margin: 0px;
      background: none;
      border: none;
      min-height: 0px;
      min-width: 0px;
      line-height: normal;
      color: #ababab;
      font-size: 15px;
      &.ready {
        color: $brand-color;
      }
    }
  }
}
