#messages-chat {
  height: 100%;
  padding-top: 44px;
  background-color: #f7f7f7;
  .list {
    .message-group-card {
      img {
        max-width: none;
        max-height: none;
        height: 55px;
        width: 55px;
        object-fit: cover;
        top: 8px;
        left: 8px;
      }
      h2 {
        color: $brand-color;
        .message-time {
          float: right;
          font-size: 14px;
          color: #b5b5b5;
        }
      }
      p {
        color: #b5b5b5;
      }
    }
  }
}
