#users-links {
  padding-top: 44px;
  background-color: #f7f7f7;
  height: 100%;
  .link-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    margin: 0px 5px 5px 5px;
    padding: 15px 10px;
    width: calc(100% - 10px);
    h2 {
      font-size: 15px;
      color: #828282;
      text-overflow: clip;
      white-space: normal;
    }
    span {
      color: #bababa;
      margin-left: 10px;
      i {
        color: #bababa;
        font-size: 15px;
      }
    }
  }
  .link-user-list {
    display: none;
  }
  .link-details {
    display: none;
  }
}
